*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: var(--font-ubuntu-mono);
}
body{
    background-image: url('/assets/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
body.loading{
    background-image: url('/assets/images/booting_bg.jpg');
}
body.loaded{
    background-image: url('/assets/images/bg.svg');
}
#opacity_bringer{
    display: none;
    top: 0;
    left: 0;
    font-family: var(--font-ubuntu-mono);
    background-color: var(--color-gray-200);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 2s ease-out, opacity 2s ease-out;
    flex-direction: column;
}
#opacity_bringer.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

:root {
    /* fonts */
    --font-ubuntu-mono: "Ubuntu Mono";
  
    /* font sizes */
    --font-size-5xl: 24px;
    --font-size-3xl: 22px;
    --font-size-21xl: 40px;
    --font-size-13xl: 32px;
    --font-size-8xl-9: 27.9px;
    --font-size-xl: 20px;
  
    /* Colors */
    --color-gray-100: #fafafa;
    --color-gray-200: rgba(0, 0, 0, 0.84);
    --color-white: #fff;
    --color-royalblue: #0263f5;
    --color-springgreen: #05fe5a;
  
    /* Paddings */
    --padding-12xs: 1px;
    --padding-xl: 20px;
}